/*TO DESIGN HEADER OF THE WEB-PAGE*/

.header 
{
        background-color: dimgrey;
        padding: 20px;
        text-align: center;
}


/*TO ADD BG-COLOR FOR BODY*/

body
{
        background-color: LightSlateGrey; 
}

/*TO STYLE MAIN EMPHASISED TOPIC OF THE PROJECT  I.E. PHY...*/

.c
{
        text-align: center;
        font-family: "Times New Roman";
        letter-spacing: 3px;
        font-size: 3.9vw;
        text-shadow: 2.5px 2.5px cyan;
        color: white;
        font-weight: bold;
}


/*TO STYLE THE SUB-EMPHASISED TOPIC OF THE PROJECT  I.E. NOTES*/

.d
{
    
        text-align: center;
        color: linen;
        letter-spacing: 5px;
        font-size: 2.9vw;
        font-weight: bold;
    
}

/*TO STYLE SUB-TOPICS OF THE SUB-EMPHASISED TOPIC OF THE PROJECT I.E. ELECRIC DIPOLE..*/

.e
{
    
        text-align: left;
        color: Thistle;
        text-shadow: 1px 1.5px LightGray;
        letter-spacing: 4px;
        font-size: 2vw;
        font-weight: bold;
    
}

/*TO STYLE THE DEFINITION OF SUB-TOPICS OF SUB-EMPHASISED TOPIC OF THE PROJECTED  I.E. DEFINITION*/

.f
{
    
        text-align: left;
        letter-spacing: 1.6px;
        color: WhiteSmoke;
        font-size: 1.5vw;
        background-color: none;
    
}

/*TO STYLE THE FOTTER OF THE PROJECT  I.E. MADE WITH LOVE BY PARTH PANDYA*/

p
{

        text-align: center;
        letter-spacing: 5px;
    
}




